/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end */

body {
	background-color: #F5F5F5;
}
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

.header {
	background: #424242;
	height: 300px;
}

.logo {
	float: left;
	padding: 92px 97px 92px 173px;
}

.logo h1 a {
	display: block;
	background: url(../assets/BMICLogo.png) no-repeat;
	height: 117px;
	width: 117px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

.formField {
	padding: 74px 53px 73px 0;	
}

.formField ul {
	float: left;
	margin-right: 53px;
}

.formField p {
	font-size: 18px;
	color: #FFD366;
	margin-bottom: 7px;
}

.formField ul input {
	color: #FFF;
	border: 2px solid #FFD366;
	border-radius: 10px;
	font-size: 24px;
	line-height: 24px;
	width: 214px;
	padding: 6px 16px;
	vertical-align: middle;
	margin-bottom: 23px;
	background: rgba(255,255,255,0.18);
}

.formField input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.formField #seeResultId {
	height: 120px;
	width: 120px;
	border: none;
	border-radius: 50%;
	font-size: 24px;
	color: #424242;
	background: #FFD366;
	margin: 20px 0;
	cursor: pointer;
	outline: none;
}

.formField #seeResultId:hover {
	box-shadow: 0 1px 6px 3px rgba(255,195,49,0.64);
}

.formField #seeResultId:active {
	box-shadow: none;
	background: #DEA921;
}

#resultId {
	position: relative;
	height: 123px;
	width: 123px;
	border: 6px solid #86D73F;
	border-radius: 50%;
	font-size: 32px;
	color: #86D73F;
	background: transparent;
	margin: 20px 0;
	cursor: pointer;
	outline: none;
}

#resultId .resultValue {
	position: absolute;
	font-size: 32px;
	color: #86D73F;
	top: 50%;
	left: 50%;
	margin-top: -16px; 
	margin-left: -32px;
}

#resultId .resultText {
	position: absolute;
	font-size: 14px;
	color: #86D73F;
	top: 0;
	left: 0;
}

#resultId i {
	position: absolute;
	top: 0;
	color: #86D73F;
}

.measureRecord {
	width: 624px;
	margin: 0 auto;
}

.measureRecord h2 {
	text-align: center;
	padding: 48px 0 28px 0;
	color: #424242;
	font-size: 24px;
}

.measureRecord li {
	float: left;
	font-size: 20px;
	height: 62px;
	width: 624px;
	background-color: #FFF;
	margin: 8px 0;
	text-align: center;
	line-height: 62px;
}

.normal small {
	font-size: 12px;
	margin-left: 42px;
	vertical-align: top;
}

.underweight {
	position: relative;  
}

.underweight:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px;
	background-color: #31BAF9;
	box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
}

.normal {
	position: relative;  
}

.normal:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px;
	background-color: #86D73F;
	box-shadow: 2px 0 3px 0 rgba(133, 215, 63, 0.29);
}

.overweight {
	position: relative;  
}

.overweight:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px;
	background-color: #FF982D;
	box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
}

.obese, .clinicallyObese {
	position: relative;  
}

.obese:after, .clinicallyObese:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px;
	background-color: #FF6C02;
	box-shadow: 2px 0 3px 0 rgba(255, 108, 2, 0.29);
}

.morbidlyObese {
	position: relative;  
}

.morbidlyObese:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 7px;
	background-color: #FF1200;
	box-shadow: 2px 0 3px 0 rgba(255, 17, 0, 0.29); 
}

.clearfix {
	clear: both;
}

.footer {
	margin-top: 66px;
	height: 90px;
	position: relative;
	background: url(../assets/BMICLogo.png) no-repeat #4A4A4A;
	background-position: center center;
	background-size: 55px 55px;
}