/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end */

body {
	background: #000;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

.header {
	height: 380px;
	background-image: url(../assets/the-urban-landscape.png);
	background-size: cover;
	background-position: top center;
	width: 100%;
}

h1 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	letter-spacing: 3.89px;
	padding: 89px 0 96px;
}

.selectStyle {
	margin: 0 auto;
	width: 452px;
	text-align: center;
	background: url(../assets/icons_down.png) no-repeat 415px center;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

.selectZone {
	height: 48px;
	width: 452px;
	font-size: 18px;
	background-color: transparent;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding: 0 9.5px;
	cursor: pointer;
	border: 3px solid #FFF;
}

.content {
	background: #FFF;
	position: relative;
	width: 100%;
}

.popularArea {
	position: relative;
	top: -30px;
	margin: 0 auto;
	width: 800px;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.popularArea p {
	padding: 20px 0 14px 26px;
	font-size: 18px;
}

.popularList {
	z-index: 1;
	margin-left: 51px;
}

.popularList li {
	float: left;
	margin: 14px 23px 18px 0px;
	border-radius: 5px;
}

.popularList li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 11px 34px;
	font-size: 20px;
}

.popularList li a:hover {
	cursor: pointer;
}

.popularList li:nth-child(1) {
	background: #8A82CC;
}

.popularList li:nth-child(2) {
	background: #FFA782;
}

.popularList li:nth-child(3) {
	background: #F5D105;
}

.popularList li:nth-child(4) {
	background: #559AC8;
}


.siteList li {
	
}

.separate {
	width: 900px;
	margin: 0 auto;
	padding-bottom: 65px;
}
.separate hr {
	float: left;
	border: 1px #559AC8;
	border-style: none none dashed;
	margin: 13px 0;
	width: 434px;
}
.separate .dropdownIcon {
	position: relative;
	float: left;
	background-size: contain;
	background-position: center center;
	border: 2px solid #559AC8;
	border-radius: 50%;
	height: 24px;
	width: 24px;
}

.separate .dropdownIcon::after {
	position: absolute;
	content: '▼';
	top: 4px;
	left: 4px;
	color: #559AC8;
}

.clearfix {
	clear: both;
}

.content h2 {
	color: #8A82CC;
	font-size: 36px;
	text-align: center;
}

.siteList {
	float: left;
	padding: 24px 32px;
}
.siteList li {
	float: left;
	width: 464px;
	margin: 0 8px 36px;
	background: #FFF;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.sitePic {
	position: relative;
	background-image: url(http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960);
	width: 464px;
	height: 155px;
	background-size: cover;
	background-position: center center;
}

.sitePic p {
	position: absolute;
	left: 22px;
	bottom: 14px;
	font-size: 24px;
	color: #FFF;
}

.siteInfo {
	position: relative;
	padding: 10px;
}

.siteInfo p {
	font-size: 16px;
	line-height: 20px;
}

.siteInfo p img {
	vertical-align: middle;
	padding: 6px 10px;
}
.siteInfo p:nth-child(1) img {
	width: 18px;
	height: 18px;
}

.siteInfo p:nth-child(2) img {
	width: 16px;
	height: 20px;
}

.siteInfo p:nth-child(3) img {
	width: 12px;
	height: 20px;
}

.siteInfo p:nth-child(4) {
	position: absolute;
	right: 24px;
	bottom: 19px;
}

.siteInfo p:nth-child(4) img {
	width: 20px;
	height: 20px;
}

.sitePic em {
	position: absolute;
	right: 24px;
	bottom: 14px;
	font-size: 16px;
	color: #FFF;
}

.pagination {
	width: 900px;
	margin: 0 auto;
	height: 24px;
	text-align: center;
	padding: 49px 12px 44px;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	color: #4A4A4A;
	display: block;
	font-size: 14px;
	padding: 12px;
	text-decoration: none;
}

.pagination li a:hover {
	color: #559AC8;
	cursor: pointer;
}

.pagination li a:active {
	color: #559AC8;
}

.footer {
	text-align: center;
	height: 90px;
	background-color: #559AC8;
}

.footer h2 {
	color: #FFF;
	padding: 24px 0 15px;
}

.footer p {
	color: #FFD366;
}