.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}
/* header, logo */
.header {
	position: relative;
	background: rgba(0, 0, 0, .75);
	height: 56px;
}

.logo {
	float: left;
	padding: 16px 42px;
}
.logo a {
	display: block;
	background: url("../images/logo_w(null).svg") no-repeat center center;
	width: 120px;
	height: 24px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
/* menu */
.menu {
	float: right;
	margin-right: 33px;
}
.menu li {
	float: left;
}
.menu li a {
	display: inline-block;
	color: #fff;
	padding: 20px 15px;
	text-decoration: none;
	border-bottom: 4px solid transparent;
}
.menu li a:hover {
	background: rgba(255, 255, 255, .3);
	border-bottom: 4px solid transparent;
}
.menu li a:focus {
	background: rgba(255, 255, 255, .3);
	border-bottom: 4px solid #fff;
}
.showmenu {
	display: none;
}
@media(max-width: 767px) {
	.header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 50px;
		z-index: 10;
	}
	.showmenu .fa{
		font-size: 24px;
		color: #fff;
	}
	.menu-show .menu {
		max-height: 200px;
	}
	.menu {
		max-height: 0px;
		overflow: hidden;
		position: absolute;
		z-index: 300;
		top: 50px;
		margin: 1px 0;
		left: 0;
		right: 0;
		transition: max-height 1.3s;
		background: black;
	}
	.menu li {
		float: none;
		margin-bottom: 1px solid #fff;
	}
	.menu li a {
		display: block;
		padding: 10px 20px;
		text-align: center;
		
		transition: all 0.3s;
	}
	.menu li a,
	.menu li a:hover {
		border-bottom: 1px dashed #fff;
	}
	.menu li a:focus {
		border-bottom: 1px solid #fff;
	}
	.showmenu {
		display: block;
		float: right;
		margin: 1em;
	}
}
.clearfix {
	clear: both;
}
/* banner */
.banner {
	background: url(../images/header_desktop.png) no-repeat center center black;
	max-width: 100%;
	height: 420px;
	margin-top: -60px;
}
/* slogan */
.slogan-wrapper {
	padding-top: 120px;
}
.slogan {
	color: #fff;
	margin: 0px auto;
	max-width: 460px;
	padding: 26px;
	background: rgba(0, 0, 0, .35);
}
.slogan h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 16px;
}
.slogan p {
	line-height: 24px;
	text-align: center;
}
@media(max-width: 320px) {
	.banner {
		background: url(../images/header_mobile.png) no-repeat center center black;
		max-width: 100%;
		height: 360px;
	}
	.slogan-wrapper {
		max-width: 300px;
		margin-top: 20px;
	}
}
/* feature */
.feature {
	background: #EFE9E7;
	color: #3D1101;
	text-align: center;
}
.margin-left {
	margin-top: 70px;
	float: left;
	width: 16.3333%;
	padding-left: 17%;
}
.margin-left hr {
	border: 1px solid #979797;
}
.margin-title {
	float: left;
	margin: 1%;
	width: 31.3333%;
}
.margin-right {
	margin-top: 70px;
	float: left;
	width: 16.3333%;
	padding-right: 17%;
}
.margin-right hr {
	border: 1px solid #979797;
}
.feature h2 {
	text-align: center;
	padding: 50px 0 30px;
	font-size: 20px;
	line-height: 32px;
}
.feature ul {
	float: left;
	padding-bottom: 50px;
}
.feature li {
	max-width: 26.33333%;
	padding: 0 3.5%;
	float: left;
	text-align: center;
}
.feature li img {
	border-radius: 50%;
	margin-bottom: 20px;
}
.feature li h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
.feature li p {
	text-align: left;
}
@media(max-width: 767px) {
	.margin-left, .margin-right {
		display: none;
	}
	.margin-title {
		width: 100%;
	}
	.feature li {
		max-width: 46%;
		padding: 0 2% 30px 2%;
	}
	.feature li:nth-child(3) {
		display: none;
	}
}
@media(max-width: 320px) {
	.feature h2 {
		padding: 30px 0 20px;
	}
	.feature li {
		max-width: 98%;
		margin: 1%;
	}
}
/* chef */
.chef {
	max-width: 100%;
	background: #3D1101;
	color: #fff;
}
.chef-photo {
	float: left;
	max-width: 43%;
	margin-left: 5%;
	margin-right: 2%;
}
.chef img {
	max-width: 100%;
	float: left;
}
.chef-intro {
	float: left;
	color: #EFE9E7;
	max-width: 43%;
	margin-right: 7%;
	padding-top: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.chef-intro h2 {
	line-height: 32px;
	font-size: 20px;
}
.chef-intro p {
	margin-bottom: 16px;
}
@media(max-width: 768px) {
	.chef-intro {
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
@media(max-width: 767px) {
	.chef-photo {
		max-width: 100%;
		margin: 0 auto;
	}
	.chef-photo img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.chef-intro {
		max-width: 100%;
		margin: 0 auto;
		padding: 30px;
	}
}
@media(max-width: 320px) {
	.chef-photo {
		max-width: 100%;
		margin: 0 auto;
	}
	.chef-intro {
		max-width: 100%;
		margin: 0 auto;
		padding: 30px;
	}
}
/* comment */
.comment {
	background: #EFE9E7;
	color: #3D1101;
}
.comment h2 {
	padding: 50px 0 32px;
	text-align: center;
	font-size: 24px;
}
.comment ul {
	float: left;
	margin: 0 42px 50px;
}
.comment li {
	float: left;
	max-width: 31.33333%;
	margin: 0 1%;
}
.comment li img{
	float: left;
	margin-right: 13px;
	border-radius: 50%;
}
.comment li h3 {
	font-size: 18px;
	line-height: 67px;
}
.comment li p {
	margin: 0 0 16px 80px;
}
.comment li .signature {
	float: right;
}
@media(max-width: 768px) {
	.comment li img {
		float: none;
	}
	.comment li p {
		margin: 0 0 14px 0;
	}
}
@media(max-width: 767px) {
	.comment li {
		max-width: 48%;
	}
	.comment li:nth-child(3) {
		display: none;
	}
}
@media(max-width: 320px) {
	.comment h2 {
		padding: 30px 0 20px;
	}
	.comment ul {
		margin: 15px;
	}
	.comment li {
		max-width: 98%;
	}
	.comment li img {
		float: left;
	}
	.comment li p {
		margin-top: 12px;
	}
}
/* reservation */
.reservation {
	margin: 0 auto;
	font-size: 14px;
	background: #F6F4F3;
	color: #3D1101;
	padding: 50px 42px;
}
.reservation h2 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 38px;
}
.reservation img {
	float: left;
	margin: 0 2% 5% 0;
	max-width: 48%;
}
.reservation form {
	width: 50%;
	float: left;
}
.reservation fieldset {
	padding: 0;
}
.reservation label {
	margin-bottom: 6px;
}
.reservation .pure-form-stacked .reservation-text {
	padding: 5px 14px;
	margin-bottom: 12px;
	width: 100%;
}
.reservation .pure-form-stacked .reservation-radio {
	margin: 0 36px 12px 6px;
}
.reservation-buttons {
	float: right;
	margin-top: 24px;
}
.reservation .pure-form-stacked .reservation-btn {
	padding: 8px 19px;
	margin-left: 11px;
	float: left;
}
.btn-cancel {
	background: rgba(0, 0, 0, .35);
}
.btn-submit {
	background: #F56C23;
}
@media(max-width: 767px) {
	.reservation {
		padding: 0;
	}
	.reservation img {
		float: none;
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.reservation form {
		width: 80%;
		margin: 10%;
	}
}
@media(max-width: 480px) {
	.pure-form button[type="submit"] {
	    margin: 0;
	}
}
@media(max-width: 320px) {
	.reservation {
		padding: 50px 10px;
	}
}
/* footer */
.footer {
	background: #EFE9E7;
	color: #3D1101;
	padding: 50px 42px;
}
.footer h2 {
	font-size: 24px;
	margin-bottom: 16px;
}
.about, .contact {
	width: 31.33333%;
	float: left;
	margin-right: 1%;
}
.footer-logo {
	width: 33.33333%;
	float: right;
	margin-bottom: 22px;
}
.social-media {
	width: 33.33333%;
	float: right;
}
.social-media li{
	float: right;
	padding-right: 0;
}
.social-media .fa {
	font-size: 36px;
	margin-left: 12px;
}
.social-media .google a {
	color: #DB4437;
}
.social-media .google a:hover {
	color: #AC2B20;
	font-size: 40px;
}
.social-media .twitter a {
	color: #41ABE1;
}
.social-media .twitter a:hover {
	color: #1F8FC7;
	font-size: 40px;
}
.social-media .facebook a {
	color: #3A5795;
}
.social-media .facebook a:hover {
	color: #2B406E;
	font-size: 40px;
}
@media(max-width: 767px) {
	.about {
		display: none;
	}
	.contact {
		width: 48%;
	}
	.footer-logo {
		width: 40%;
	}
	.social-media {
		width: 40%;
	}
}
@media(max-width: 320px) {
	.footer {
		padding: 50px 10px;
	}
	.contact, .footer-logo, .social-media {
		width: 98%;
		margin: 6% 1%;
	}
}